
.row{
    display: flex;
    position: absolute;
     text-align: center;
     width: 100%;
     margin-bottom: 3em;
 }
 #meetings{
     display: flex;
     flex-direction: column;
     color: gray;
 }
 #top{
     background-color: aqua;
     padding-bottom: 3em;
     border-radius: 5em;
 }
 #titre{
     text-align: center;
     font-weight: bold;
     font-size: 3em
 }
 #texttop{ 
     font-size: 0.8em;
 }
 .rest{
   padding-top: 3em;
     display: flex;
     flex-direction: row;
     width: 100%;
 
 }
 body{
     background-color:rgb(207, 185, 146) ;
     
 }
 .lesson{
     background-color: rgb(230, 99, 230);
     border-radius: 5em;
 
 }
 .lesson:hover{
     transform: translate(42px, 18px);
     scale: 1.2;
 }
 #lessontext{
 width: 70%;
 text-align: center;
 } 
 .activités{
     background-color: aquamarine;
     border-radius: 5em;
     margin-left: 2em;
     margin-right: 2em;
 }

 .activités:hover{
     animation: mid 0.5s forwards ;
 }
 #act{
     padding-left: 2em;
 }
 .formatif{
     background-color:  rgb(230, 99, 230);
     border-radius: 5em;
     text-align: center;
 }
 .formatif:hover{
     transform: translate(-42px, -18px);
     
 }
 
 @keyframes mid {
     0%{
         scale: 1.05
     }
     25%{
         scale: 1.1
     }
     50%{
         scale: 1.15
     }
     100%{
         scale: 1.2
     }
 }
 