@font-face {
  font-family: "CustomFont";
  src: url(Resources/OpenSans-VariableFont_wdth,wght.ttf) format("truetype");
}

body {
  font-family: "CustomFont";
  background-color: #C0C0C0;
} 

#bg-video {
  width: 100%;
  object-fit: cover;
  z-index: -1;
  position: fixed;
  right: 0;
 height: 100%;
}

.grandimage{
  width: 100%;
  height: auto;
  position: relative;
}

.grandimage #titrevid {
  text-align: center;
  padding-top: 5em;
  font-size: 2em;
  font-weight: bold;
  width: 100%;
  color: #fff;

}
.grandimage #textvid {
  margin-top: 6em;
  margin-left: 10em;
  padding-top: 4em;
  padding-left: 2em;
  padding-right: 2em;
  font-size: 1em;
  width: 40%;
  padding-bottom: 4em;
  color: #fff;
  background-color: #8289BF;
  border-radius: 2em;
width: 40%;
text-align: center;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#syllabus{
 background-color:#8289BF;
 width: 20%;
 margin-top: 2em;
 height: 3em;
 font-size: 1.5em;
 color: #fff;
 cursor: pointer;
 text-decoration: none;
 margin-left: 15em;
 border-radius: 3em;
 margin-bottom: 5em;
}

/* Code pour le slider */
#syllabus:hover{
  background-color:#696c86 ;
}

.container {
  max-width: 1500px;
  width: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2EM;
}

.slider-wrapper {
  position: relative;
}

.slider-wrapper .slide-button {
  position: absolute;
  top: 50%;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  z-index: 5;
  color: #fff;
  display: flex;
  cursor: pointer;
  font-size: 2.2rem;
  background: #000;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: translateY(-50%);
}

.slider-wrapper .slide-button:hover {
  background: #404040;
}

.slider-wrapper .slide-button#prev-slide {
  display: none;
  left: -20px;
}

.slider-wrapper .slide-button#next-slide {
  right: -60px;
}

.slider-wrapper .image-list {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 50px;
  font-size: 0;
  list-style: none;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none;
}

.slider-wrapper .image-list::-webkit-scrollbar {
  display: none;
}

.slider-wrapper .image-list .image-item {
  width: 500px;
  height: 500px;
  border-radius: 5px;
}


@media only screen and (max-width: 600PX) {
  .slider-wrapper .slide-button {
    display: none !important;
  }
  .slider-wrapper .image-list {
    gap: 10px;
    margin-bottom: 15px;
    scroll-snap-type: x mandatory;
  }
  .slider-wrapper .image-list .image-item {
    width: 280px;
    height: 380px;
  }
  .slider-scrollbar .scrollbar-thumb {
    width: 20%;
  }
  #prev-slide {
    left: 5px;
}


#next-slide {
    right: 5px;
}
}
li:hover {
  scale: 1.2;
}


