html body{
    overflow-x: hidden;
    max-width: 100%;
}
#headerdiv {
    background-color: #181818;
    font-family: "Comfortaa";
    font-size: 0.8em;
    color: white;
    display: flex;
    size: 1.5em;
    margin-top: -0.8em;
    margin-left: -0.6em;
    width: 100%;
}

#course{
    color: #ebb434;
    font-family: "Comfortaa";
    flex-direction: row;
}
#networking{
    display: flex;
    margin-top: 1em;
    margin-left: 75em;
}
#networking li{
list-style-type: none;
margin-left: 2em;
flex-direction: row;
margin-top: 4px;
}
#networking a{
    color: white;
    
}
#header-transparent {
    font-family: "IBM Plex Sans Condensed";
    height: 6em;
    background-color: rgba(209, 209, 209, 0.418);
    width: 100%;
    display: flex;
    color: white;
    font-weight: bold;
    font-size: 0.9em;
    margin-left: 0em;
}
#title{
    margin-top: 0.8em;
    
}
#navigation{
    margin-left: 46em;
    display: flex;
    margin-top: 2.1em;
}
#navigation li{
    list-style-type: none;
}
.option a{
    text-decoration: none;
    margin-left: 2em;
    font-family: "IBM Plex Sans Condensed";
    color: white;
    font-size: 1.1em;
    margin-left: 2em;
    transition: all 0.5s ease-in-out;
}
.option a:hover{
    color: rgb(97, 21, 91);
}
body {
    background-image: url("Images/xzwS8uCWJXOEh-mV1zECPn6hdct_JBnOxKg85cPrwRQ.jpg");
    /*background-color: #312841;*/
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
#main{
    margin-top: 7em;
    margin-left: 4em;
    font-family: "IBM Plex Sans Condensed";
}
#preface{
    font-size: large;
    color: white;
    font-weight: bold;
}
#maintitle{
    font-size:xx-large;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    color: white;
    font-weight: 600;
}
#maindescription{
    font-size: medium;
    color: white;
}
#clicker{
    background-color: #3503a1;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: fit-content;
    transition: all 0.5s ease-in-out;
}
#clicker:hover{
    background-color: #290477;
}
#clicker a{
    color: white;
    font-family: "IBM Plex Sans Condensed";
    font-size: medium;
    text-decoration: none;
}
.corps{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.container{
    max-width: 1200px;
    width: 95%;
}
.slider-wrapper{
    position: relative;
}

.slider-wrapper .slide-button {
    position: absolute;
    top: 50%;
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    z-index: 5;
    color: #fff;
    display: flex;
    cursor: pointer;
    font-size: 2.2rem;
    background: #000;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: translateY(-50%);
}
.slider-wrapper .slide-button:hover{
    background: #444;
}
.slider-wrapper .slide-button#prev-slide{
    left: -20px;
    display: none;
}
.slider-wrapper .slide-button#next-slide{
    right: -20px;
}
.slider-wrapper .image-list{
    display: grid;
    gap: 18px;
    font-size: 0;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
    grid-template-columns: repeat(10, 1fr);
}
.slider-wrapper .image-list::-webkit-scrollbar{
   display: none;
}
.slider-wrapper .image-list a{
    text-decoration: none;
}
.slider-wrapper .image-list .image-item{
    width: 450px;
    height: 400px;
    background-image: url(Images/fond-unites.webp);
    border-radius: 10%;
    top: 10px;
    
}
.slider-wrapper .image-list .image-item:hover{
    background-image: url(Images/fond-unites-foncé.webp);
}
.slider-wrapper .image-list .image-item .nom-unites{
   font-size: 28px;
   font-family: "Comfortaa";
   color: white;
   text-align: center;
   padding-top: 2em;
}
.slider-wrapper .image-list .image-item .description-unites{
    font-size: 17px; 
    font-family: "IBM Plex Sans Condensed";
    color: white;
    text-align: center;
}
.slider-wrapper .image-list .image-item .langue{
    font-size: 13px; 
    font-family: "IBM Plex Sans Condensed";
    color: white;
    text-align: center;
}
/* .slider-wrapper .image-list .image-item img{
    width: 325px;
    height: 400px;
    object-fit: cover;
} */
.container .slider-scrollbar {
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}
.slider-scrollbar .scrollbar-track{
    height: 2px;
    width: 100%;
    background: #ccc;
    position: relative;
    border-radius: 4px;
}
.slider-scrollbar:hover .scrollbar-track{
    height: 4px;
}
.slider-scrollbar:hover .scrollbar-thumb{
    background: #000;
}
.slider-scrollbar .scrollbar-thumb{
    position: absolute;
    height: 100%;
    width: 50%;
    background: #444;
    border-radius: inherit;
    cursor: grab;
}
.slider-scrollbar .scrollbar-thumb:active{
    cursor: grabbing;
    background: #000;
    height: 8px;
    top: -2px;
}
.slider-scrollbar .scrollbar-track:active{
    height: 4px;
}
.slider-scrollbar .scrollbar-thumb::after{
    content:"";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}

@media (max-width: 1023) {
    .slider-wrapper .slide-button {
        display: none!important;
    }
    .slider-wrapper .image-list {
        gap: 10px;
        margin-bottom: 15px;
    }

    .slider-wrapper .image-list .image-item {
        width: 280px;
        height: 380px;
    }
    .slider-scrollbar .scrollbar-thumb{
        width:  20%;
    }
}




/* .slider{
    position: relative;
    overflow-x: auto;
    overflow-y: visible;
    height: 200px;
    display: flex;
    margin-top: 2em;
    scrollbar-width: none;
}
.sliderwidth{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    left: 0;
    top: 0;
    transition: 0.4s ease-in-out;
}
.item{
    background-color: #3503a1;
    width: 300px;
    height: 200px;
    margin: 0 10px;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 0.5em;
}
.btn{
    background-color: #3503a1;
    border: none;
    outline: none;
    color: white;
    font-size: 20px;
    margin: 20px;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    left: 42%;
    border-radius:25px;
}
.btn:last-child{
    margin-left: 155px;
} */