#headerdiv {
    background-color: #040629;
    font-family: "Comfortaa";
    font-size: medium;
    color: white;
    display: flex;
}
#course{
    color: #ebb434;
    font-family: "Comfortaa";
    font-size: medium;
    flex-direction: row;
}
p{
    flex-direction: row;
}
#header-transparent {
    font-family: "Roboto";
    height: 5em;
    background-color: rgba(255, 255, 255, 0.418);
}

body {
    background-color: rgb(34, 46, 65);
}