@font-face {
    font-family: "CustomFont";
    src: url(Resources/OpenSans-VariableFont_wdth,wght.ttf) format("truetype");
}

body {
    font-family: "CustomFont";
}

header {
    padding: 15px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(134, 140, 147, 255);
}

#bg-video {
    width: 100%;
    object-fit: cover;
    z-index: -1;
    position: fixed;
    right: 0;
}

.grandimage {
    color: white;
}

.grandimage #titrevid {
    text-align: center;
    padding-top: 2em;
    margin-bottom: 2em;
    font-size: 2em;
    font-weight: bold;
    width: 100%;
}
.grandimage #textvid {
    text-align: left;
    padding-top: 2em;
    font-size: 1em;
    width: 40%;
    padding-left: 5em;
}

.container {
    max-width: 1200px;
    width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .slider-wrapper {
    position: relative;
  }
  
  .slider-wrapper .slide-button {
    position: absolute;
    top: 50%;
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    z-index: 5;
    color: #fff;
    display: flex;
    cursor: pointer;
    font-size: 2.2rem;
    background: #000;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: translateY(-50%);
  }
  
  .slider-wrapper .slide-button:hover {
    background: #404040;
  }
  
  .slider-wrapper .slide-button#prev-slide {
    left: -25px;
    display: none;
  }
  
  .slider-wrapper .slide-button#next-slide {
    right: -25px;
  }
  
  .slider-wrapper .image-list {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 50px;
    font-size: 0;
    list-style: none;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
  }
  
  .slider-wrapper .image-list::-webkit-scrollbar {
    display: none;
  }
  
  .slider-wrapper .image-list .image-item {
    width: 400px;
    height: 400px;
    border-radius: 5px;
  }
  
  /* Styles for mobile and tablets */
  @media only screen and (max-width: 1023px) {
    .slider-wrapper .slide-button {
      display: none !important;
    }
  
    .slider-wrapper .image-list {
      gap: 10px;
      margin-bottom: 15px;
      scroll-snap-type: x mandatory;
    }
  
    .slider-wrapper .image-list .image-item {
      width: 280px;
      height: 380px;
    }
  
  }