@font-face {
    font-family: "CustomFont";
    src: url(Resources/OpenSans-VariableFont_wdth,wght.ttf) format("truetype");
}

body {
    font-family: "CustomFont";
}

header {
    padding: 15px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(134, 140, 147, 255);
}

#bg-video {
    width: 100%;
    object-fit: cover;
    z-index: -1;
    position: fixed;
    right: 0;
}

.grandimage {
    color: white;
}

.grandimage #titrevid {
    text-align: center;
    padding-top: 2em;
    margin-bottom: 2em;
    font-size: 2em;
    font-weight: bold;
    width: 100%;
}

.grandimage #titrevid {
    text-align: center;
    padding-top: 2em;
    margin-bottom: 2em;
    font-size: 2em;
    font-weight: bold;
    width: 100%;
}

.grandimage #textvid {
    text-align: center;
    font-size: 0.8em;
    width: 100%;
    position: relative;
    bottom: 2em;
}


.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
}

#next-slide, #prev-slide {
    position: absolute;
    top: 50%;
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    z-index: 5;
    display: flex;
}

.list-image img {
    border-radius: 5px;
    width: 200px;
    height: auto;
    margin-right: 20px;
}
