html {
    background-image: url(red.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

h1 {
    text-align: center;
    font-family: "Comfortaa";
    color: white;
}

.gras {
    font-weight: bold;
}

.center-divs {
    display: flex;
}

.center-divs .box-title {
    font-size: 28px;
    font-family: "Comfortaa";
    color: white;
    text-align: center;
    padding-top: 0.5em;
}

.Leçons {
    border-radius: 3em;
    background: grey;
    height: 46em;
    width: 28em;
    margin-left: 1em;
    background-image: url(fond-unites.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.item {
    border-radius: 3em;
    background: rgb(212, 212, 212);
    height: 3em;
    width: 26em;
    margin-left: 1em;
    margin-top: 0.5em;
    display: flex;
}

.item:hover {
    transform: scale(105%);
}

.item p {
    margin-left: 1em;
    font-family: "Comfortaa";
    font-size: 15px;
    width: 23em;
}

.item button {
    /* margin-left: 6.2em; */
    margin-top: 0.1em;
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    background-color: transparent;
    color: #9e9e9e;
    cursor: pointer;
    border-radius: 50%;
    font-size: 25px;
    text-align: center;
    align-items: center;
}

.item a {
    background-color: transparent;
    color: #9e9e9e;
    font-size: 25px;
    text-decoration: none;

}

.item .button:hover {
    cursor: default;
}

.item .material-symbols-rounded:hover {
    transform: scale(105%);
    color: #595959;
}

.item .material-symbols-rounded:active {
    color: rgb(255, 194, 81);
}

.Travaux {
    border-radius: 3em;
    background: grey;
    height: 46em;
    width: 28em;
    margin-left: 1em;
    background-image: url(fond-unites.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.Travaux .item button {
    /* margin-left: 6.2em; */
    margin-top: 0.1em;
    outline: none;
    border: none;
    height: 50px;
    width: 39px;
    background-color: transparent;
    color: #9e9e9e;
    cursor: pointer;
    border-radius: 50%;
    font-size: 25px;
    text-align: center;
    align-items: center;
}
.Travaux .item p {
    margin-left: 1em;
    font-family: "Comfortaa";
    font-size: 15px;
    width: 21em;
}
.Évaluations {
    border-radius: 3em;
    background: grey;
    height: 46em;
    width: 28em;
    margin-left: 1em;
    background-image: url(fond-unites.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.Évaluations .item button {
    /* margin-left: 6.2em; */
    margin-top: 0.1em;
    outline: none;
    border: none;
    height: 50px;
    width: 39px;
    background-color: transparent;
    color: #9e9e9e;
    cursor: pointer;
    border-radius: 50%;
    font-size: 25px;
    text-align: center;
    align-items: center;
}
.Évaluations .item p {
    margin-left: 1em;
    font-family: "Comfortaa";
    font-size: 15px;
    width: 21em;
}