@font-face {
    font-family: "CustomFont";
    src: url(Resources/OpenSans-VariableFont_wdth,wght.ttf) format("truetype");
}

body {
    font-family: "CustomFont";
}

header {
    padding: 15px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(134, 140, 147, 255);
}

#bg-video {
    width: 100%;
    object-fit: cover;
    z-index: -1;
    position: fixed;
    right: 0;
}

.grandimage {
    color: white;
}

.grandimage #titrevid {
    position: absolute;
    left: 2.5em;
    padding-top: 2em;
    margin-bottom: 2em;
    font-size: 1.5em;
    font-weight: bold;
    position: relative;
    width: 40%;

}
.grandimage #textvid {
    font-size: 0.7em;
    width: 40%;
    position: relative;
    bottom: 2em;
    left: 5em;
}
.grandimage .slider .list image{
    gap: 100px;
    scroll-snap-type: x mandatory;
}
.slider{
    display: flex;
    align-items: center;
    justify-content: center;
}
.slide-button{
    position: absolute;
    top:50%;
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    z-index: 5;
    display: flex;
}
.list-image img{
    border-radius:5px;
    width: 5em;
    height: 5em;
    padding-left: 3em;
}

